.card {
    background-color: #ffffff;
    border-color: #ffffff;
}
h1 {
   font-size: 40px;
}


p {
    font-size:20px;
}

h2 {
    font-size: 25px;
}

.container {
    margin: 0 auto;
    width: 7%;
    background-color: white;
}

.card-title {
    color: #000000;
}
    
.card-subtitle,
.card-text {
    color: #000000; 
}
    
.card-text strong {
    color: #000000; 
}
body{
    background-color: white;
}
button{
    font-size: 30px;
}