{% extends "index.html" %}

{% from '__helpers.html' import form_generate %}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="form-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {{ form_generate(form) }}
</div>
{% endblock content %}
